@import '@/styles/color.scss';
@import '@/styles/mixin.scss';

.wrapper {
  .formLogin {
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      .headerLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        .title {
        }
        .subTitle {
          display: none;
        }
      }
      .headerRight {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
